*{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.40;
    /*color:#1C304A;*/
    box-sizing: border-box;
}




header{
    background-color: #B3EFFF;
    padding: 16px;
    margin: 0 0 16px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    color: #1C304A;

}
header img{
    flex-shrink: 0;
    
    width: 90px;
    height: 100px;
    border-radius: 51%;
    /*border-color: aquamarine;*/
}
h1{
    font-size: 40px;
    
   /* float: right;*/
   /* width: 950px;
    margin: 2rem auto;*/
    text-align: center;
    flex-grow: 1;
}
nav {
    width: 100%;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    justify-content: space-around;
}
nav li{
    flex-basis: 50px;
    flex-shrink: 01;
    /*padding: 1rem;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    background-color: #00CFFF;
    color: #B3EFFF;
    box-shadow: -6px 6px 10px #1C304A;*/
    
    /*width: 131px;*/
    
    text-align: center;
}
nav a[href]{
    text-decoration: none;
    background-color: #070040;
    color: #B3EFFF;
    box-shadow: -6px 6px 10px #1C304A;
    padding: 1rem;
    display: block;
    width: 175px;
    margin: 1rem auto;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover{
	text-decoration: none;
	background-color: #7fc946;
	color: #FFF;
}
a{
	
	padding: 16px;
}
main{
    
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}
h2{
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5rem;
    margin-top: 16px;
}
p{
    grid-column: 1;
    font-size: 16px;
    max-width: 65ch;
    /*margin: 0 auto;*/
    /*padding: 16px;*/
}
iframe{
    grid-column: 2;
    grid-row: 2/4;
}
footer{
    background-color: #B3EFFF;
    height: 50px;
    
}
#copy{
    display: block;
    width: 600px;
    padding-top: 16px;
    margin: 1rem auto;
}